body {background-color:#eee;}
.container-fluid {padding:50px;}
.container{background-color:white;padding:50px;   }
#title{font-family: 'Lobster', Helvetica;;
text-align: center;
color: cadetblue;
}
input.ng-invalid.ng-touched{
    border: 1px red solid;
}